*{
	margin-top: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #6EDFC2;
	font-family:"segoe  UI" ;
	text-align: justify;
}
h1{
	margin-bottom: 3px;
	color: #123456;
	text-align: center;
	column-span: all;
}
h2{
	color: #228B22;
}
img{
	width:  100%;
	margin: 10px;
	display: block;
	column-span:all; 
}
main{
	background-color: #FFFFFF;
	padding: 15px;
	margin-left:  15%;
	margin-top:  20px;
	max-width: 900px;
    display: black;
    column-count: 4;
    column-gap: 25px;
    column-rule: 1px solid #bbbbbb;
    column-width: 100px;
}